.wrapper {
    display: flex;
    gap: 12px;
    align-items: center;
}

.sort {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: var(--main-text-color);
}

.select {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: white;
    font-size: 14px;
    appearance: none;
    cursor: pointer;

    font-weight: 500;
    font-size: 16px;
    line-height: 126%;
    color: #282828;

}

.select:focus {
    outline: none;
}


